@model List<UserViewModel>

<h1 class="text-center mb-4">قائمة المستخدمين (@Model.Count())</h1>



<div class="container">
    <table class="table table-hover table-striped">
        <thead class="bg-primary bg-opacity-75 text-black">
            <tr>
                <th>اسم المستخدم</th>
                <th>صلاحيات المستخدم</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.RoleName</td>

                    <td>
                        <form asp-action="Edit" method="post">
                            <input hidden asp-for="@user.UserId" name="id" />
                            <button class="btn btn-warning" type="submit">تعديل البيانات</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input hidden asp-for="@user.UserId" name="id" />
                            <button class="btn btn-danger" type="submit">حذف المستخدم</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <a class="nav-link text-decoration-none text-white btn btn-success" asp-controller="User" asp-action="Add"> إضافة مستخدم</a>
</div>