@model List<InterviewViewModel>

<h1 class="text-center mb-4">Interviews  (@Model.Count())</h1>



<div class="container">
    <table class="table table-hover table-striped">
        <thead class="bg-primary bg-opacity-75 text-black">
            <tr>

                <th>candi name</th>
                <th>interview date</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var interview in Model)
            {
                <tr>
                    <td>@interview.Candidate.CandidateName</td>
                    <td>@interview.InterviewDate</td>

                    <td>
                        <form asp-action="Edit" method="post">
                            <input hidden asp-for="@interview.InterviewId" name="id" />
                            <button class="btn btn-warning" type="submit"> Update</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input hidden asp-for="@interview.InterviewId" name="id" />
                            <button class="btn btn-danger" type="submit">Delete </button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <a class="nav-link text-decoration-none text-white btn btn-success" asp-controller="Interview" asp-action="Add"> Add interview </a>
</div>